.accordion {

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .row {
        display: flex;

        .col {
            flex: 1;

            &:last-child {
                margin-left: 1em;
            }
        }
    }

    .tabs {
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    }

    .tab {
        width: 100%;
        color: white;
        overflow: hidden;

        &-label {
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            background: $grey-1;
            cursor: pointer;

            /* Icon */
            &:hover {
                background: darken($grey-1, 10%);
            }

            &::after {
                content: "\276F";
                width: 1em;
                height: 1em;
                text-align: center;
                transition: all 0.1s;
            }
        }

        &-content {
            max-height: 0;
            padding: 0;
            color: $grey-1;
            background: $grey-2;
            transition: all 0.1s;
        }

        &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: $grey-1;
            cursor: pointer;

            &:hover {
                background: darken($grey-1, 10%);
            }
        }
    }

    // :checked
    input:checked {
        +.tab-label {
            background: darken($grey-1, 10%);

            &::after {
                transform: rotate(90deg);
            }
        }

        ~.tab-content {
            max-height: 100%;
            padding: 5px 0;
        }
    }
}
