.hero {
    display: flex;
    place-content: center;
    place-items: center;

    .logo {
        height: 150px;
        margin-right: 5px;
    }

    .title-container {
        display: flex;
        flex-direction: column;

        .title,
        .sub-title {
            color: $orange-1;
        }
    }
}
