.hero {
    display: flex;
    place-content: center;
    place-items: center;
    min-height: calc(100vh - 185px);

    .logo {
        height: 108px;
        margin-right: 24px;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        font-family: 'Euclid';

        .title,
        .sub-title {
            color: $orange-1;
        }

        .sub-title {
            font-weight: 400;
            margin-top: -4px;
        }
    }

    margin-bottom: 1rem;
}
.notfound {
    flex-direction: column;
    font-family: 'Euclid';
    font-size: 12pt
}
.nf-img {
    max-width: 512px;
    margin: 24px 12px;
}