.home {
    @extend .flexd-center;
    background: $grey-1;
    font-size: 30px;
    flex-direction: column;

    .center-stage {
        margin: 2rem 0;

        .metrics {
            @extend .flexd-center;
        }
    }
}
