@import './variables',
'font-family',
'./components/index';

html,
body {
    background-color: $grey-2;
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.70em + 1vmin);
    overflow: auto;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr;
    gap: 2px;
}

.card {
    @extend .flexd-row;
    background-color: $grey-3;
    border-radius: 4px;
    color: $white-1;
    padding: 10px !important;
    box-shadow: 0 2px 1px -1px #00000033, 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px #00000033;
    transition: background-color 0.2s ease-in-out;

    &.hover:hover {
        transition: background-color 0.2s ease-in-out;
        background-color: $grey-4;
    }
}

.hash-wrapper {
    font-size: 25px;
    color: $white-1;

    .title-container {
        font-size: 30px;
        margin-bottom: 10px;
        color: $orange-1;
    }

    .contents {
        color: $white-1;
    }
}

.link {
    color: $white-1;
    text-decoration: none;
    outline: none;

    &.underline {
        text-decoration: underline;
    }

    &:hover:not(.no-hover),
    &:focus:not(.no-hover) {
        color: $orange-1;
    }
}

ul.no-list-style {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
    }
}

.device-list-loading {
    @extend .shimmer-wrapper;
    @extend ul.no-list-style;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    li {
        @extend .shimmer;
        margin: 10px 0;
        height: 10px;
        width: 90%;
    }
}
