// Colors
:root {
  --grey-1: #18191b;
  --grey-2: #1e1f23;
  --grey-3: #1c1d21;
  --grey-4: #383838;
  --black-1: #252525;
  --white-1: #fff;
  --orange-1: #ed6f01;
  --header-ht: 60px;
}

$grey-1: var(--grey-1);
$grey-2: var(--grey-2);
$grey-3: var(--grey-3);
$grey-4: var(--grey-4);
$black-1: var(--black-1);
$white-1: var(--white-1);
$orange-1: var(--orange-1);
$header-ht: var(--header-ht);
